<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Content">
<h1>Losung bearbeiten</h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:form action="update" name="losung" object="{losung}" >
<f:render partial="Losung/FormFields" arguments="{losung:losung}" />
	<f:form.submit value="Speichern" />
</f:form>
</f:section>