{namespace core=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
<h1>Losungen</h1>

<f:flashMessages />

<f:widget.paginate objects="{losungs}" as="losungsPage" configuration="{itemsPerPage: 50, insertAbove: 1, insertBelow: 1}">
  <table  class="tx_cmlosungen" >
  	<tr>
  		<th style="width: 100px;"><f:translate key="tx_cmlosungen_domain_model_losung.datum" /></th>
  		<th><f:translate key="tx_cmlosungen_domain_model_losung.wtag" /></th>
  		<th><f:translate key="tx_cmlosungen_domain_model_losung.sonntag" /></th>
  		<th><f:translate key="tx_cmlosungen_domain_model_losung.losungstext" /></th>
  		<th><f:translate key="tx_cmlosungen_domain_model_losung.losungsvers" /></th>
  		<th><f:translate key="tx_cmlosungen_domain_model_losung.lehrtext" /></th>
  		<th><f:translate key="tx_cmlosungen_domain_model_losung.lehrvers" /></th>
        <th><f:translate key="tx_cmlosungen_domain_model_losung.btv_text" /></th>
        <th><f:translate key="tx_cmlosungen_domain_model_losung.btv_vers" /></th>
        <th><f:translate key="tx_cmlosungen_domain_model_losung.btv_translation" /></th>
        <th><f:translate key="tx_cmlosungen_domain_model_losung.oeab_text" /></th>
        <th><f:translate key="tx_cmlosungen_domain_model_losung.oeab_vers" /></th>
  		<th><f:translate key="tx_cmlosungen_domain_model_losung.oeab_translation" /></th>
        <th> </th>
  		<th> </th>
  	</tr>
  
  	<f:for each="{losungsPage}" as="losung">
  		<tr id="losung_{losung.uid}">
  			<f:render partial="Losung/Losung"  arguments="{losung:losung}" />
  		</tr>
  	</f:for>
  </table>
</f:widget.paginate>

<f:link.action action="new">Neue Losung</f:link.action>
</f:section>