{namespace core=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="Content">
<h1>Losungen</h1>

<f:flashMessages />

<f:render partial="Losung/Paging" arguments="{paging: paging, pages: pages, paginator: paginator}" />

<table  class="tx_cmlosungen" >
	<tr>
		<th style="width: 100px;"><f:translate key="tx_cmlosungen_domain_model_losung.datum" /></th>
		<th><f:translate key="tx_cmlosungen_domain_model_losung.wtag" extensionName="CmLosungen" /></th>
		<th><f:translate key="tx_cmlosungen_domain_model_losung.sonntag" extensionName="CmLosungen" /></th>
		<th><f:translate key="tx_cmlosungen_domain_model_losung.losungstext" extensionName="CmLosungen" /></th>
		<th><f:translate key="tx_cmlosungen_domain_model_losung.losungsvers" extensionName="CmLosungen" /></th>
		<th><f:translate key="tx_cmlosungen_domain_model_losung.lehrtext" extensionName="CmLosungen" /></th>
		<th><f:translate key="tx_cmlosungen_domain_model_losung.lehrvers" extensionName="CmLosungen" /></th>
			<th><f:translate key="tx_cmlosungen_domain_model_losung.btv_text" extensionName="CmLosungen" /></th>
			<th><f:translate key="tx_cmlosungen_domain_model_losung.btv_vers" extensionName="CmLosungen" /></th>
			<th><f:translate key="tx_cmlosungen_domain_model_losung.btv_translation" extensionName="CmLosungen" /></th>
			<th><f:translate key="tx_cmlosungen_domain_model_losung.oeab_text" extensionName="CmLosungen" /></th>
			<th><f:translate key="tx_cmlosungen_domain_model_losung.oeab_vers" extensionName="CmLosungen" /></th>
		<th><f:translate key="tx_cmlosungen_domain_model_losung.oeab_translation" extensionName="CmLosungen" /></th>
			<th> </th>
		<th> </th>
	</tr>

	<f:for as="losung" each="{paginator.paginatedItems}" iteration="iterator">
		<tr id="losung_{losung.uid}">
			<f:render partial="Losung/Losung"  arguments="{losung:losung}" />
		</tr>
	</f:for>
</table>

<f:render partial="Losung/Paging" arguments="{paging: paging, pages: pages, paginator: paginator}" />

<f:link.action action="new">Neue Losung</f:link.action>
</f:section>