<table class="tx-cm-losungen" >
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.datum" />
		</td>
		<td>
			{losung.datum -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.wtag" />
		</td>
		<td>
			{losung.wtag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.sonntag" />
		</td>
		<td>
			{losung.sonntag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.losungstext" />
		</td>
		<td>
			{losung.losungstext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.losungsvers" />
		</td>
		<td>
			{losung.losungsvers}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.lehrtext" />
		</td>
		<td>
			{losung.lehrtext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.lehrvers" />
		</td>
		<td>
			{losung.lehrvers}
		</td>
	</tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.btv_text" />
        </td>
        <td>
            {losung.btvText}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.btv_vers" />
        </td>
        <td>
            {losung.btvVers}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.btv_translation" />
        </td>
        <td>
            {losung.btvTranslation}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.oeab_text" />
        </td>
        <td>
            {losung.oeabText}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.oeab_vers" />
        </td>
        <td>
            {losung.oeabVers}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.oeab_translation" />
        </td>
        <td>
            {losung.oeabTranslation}
        </td>
    </tr>
</table>