<table class="tx-cm-losungen" >
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.datum" extensionName="CmLosungen" />
		</td>
		<td>
			{losung.datum -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.wtag" extensionName="CmLosungen" />
		</td>
		<td>
			{losung.wtag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.sonntag" extensionName="CmLosungen" />
		</td>
		<td>
			{losung.sonntag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.losungstext" extensionName="CmLosungen" />
		</td>
		<td>
			{losung.losungstext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.losungsvers" extensionName="CmLosungen" />
		</td>
		<td>
			{losung.losungsvers}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.lehrtext" extensionName="CmLosungen" />
		</td>
		<td>
			{losung.lehrtext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cmlosungen_domain_model_losung.lehrvers" extensionName="CmLosungen" />
		</td>
		<td>
			{losung.lehrvers}
		</td>
	</tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.btv_text" extensionName="CmLosungen" />
        </td>
        <td>
            {losung.btvText}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.btv_vers" extensionName="CmLosungen" />
        </td>
        <td>
            {losung.btvVers}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.btv_translation" extensionName="CmLosungen" />
        </td>
        <td>
            {losung.btvTranslation}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.oeab_text" extensionName="CmLosungen" />
        </td>
        <td>
            {losung.oeabText}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.oeab_vers" extensionName="CmLosungen" />
        </td>
        <td>
            {losung.oeabVers}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cmlosungen_domain_model_losung.oeab_translation" extensionName="CmLosungen" />
        </td>
        <td>
            {losung.oeabTranslation}
        </td>
    </tr>
</table>